{% liquid
  assign id = section.id 
  assign layout = section.settings.layout
  assign collection = section.settings.collection
  assign set_equal = section.settings.use_equal_image_height
%}
<div id="section-{{id}}" class="section-product-{{id}}">
  <div class="{{ layout }}">
    {% if section.settings.title != blank or section.settings.content != blank %}
      <div class="section-title-group">          
        {% if section.settings.title != blank %}
          <h2 class="section-title">{{ section.settings.title }}</h2>  
        {% endif %}
        {% if section.settings.content != blank %}
          <h2 class="section-content">{{ section.settings.content }}</h2>  
        {% endif %}
      </div>
    {% endif %}
    <div class="section-information-group">
      {% if collection != blank %} 
        {% include 'grid-slider', settings: section.settings %}
        <div class="grid-slider products-slider{% if set_equal %} use_equal_image_height{% endif %}" {{ gridSlider }}>
          {%- assign products = collections[collection].products -%}
          {%- capture url_cat -%}{% if collection %}/collections/{{collections[collection].handle}}{% endif %}{%- endcapture -%}
          {%- for product in products limit: section.settings.max_count -%}
            {% assign pr_hd = product.handle %}
            {% if set_equal %}
              <div data-lazy-product-load class="productLazyload lazyload" data-include="{{url_cat}}/products/{{pr_hd}}/?view=pr_lazy_load"></div>
            {% else %}
              <div data-lazy-product-load class="productLazyload lazyload" data-include="{{url_cat}}/products/{{pr_hd}}/?view=pr_lazy_load_no_equal"></div>
            {% endif %}
          {%- endfor -%} 
        </div>
      {% else %}
        {% include 'grid-slider', settings: section.settings %}
        <div class="grid-slider products-slider{% if set_equal %} {{image_ratio}}{% endif %}" {{ gridSlider }}>
          {% for i in (1..5) %}
            <div class="pr_grid_item product-item">
              <div class="product-collection">
                <div class="product-inner">
                  <div class="product-image">
                      <a href="/admin/products" class="product__image-wrapper">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </a>
                  </div>
                  <div class="product-collection__content">
                    <h3 class="product-collection__title"><a class="cd" href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></h3>
                    <div class="price">
                      <span class="compare">$39.00</span>
                      <span class="current">$59.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{%- render 'section_style' -%}

{%- schema -%}
  {
    "name": "t:sections.products.product_slider.name",
    "class": "cms_section section-product grid-style",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.layout.label"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "container",
            "label": "t:sections.all.layout.option__1"
          }, {
            "value": "full-width",
            "label": "t:sections.all.layout.option__2"
          }, {
            "value": "custom-width",
            "label": "t:sections.all.layout.option__3"
          }
        ],
        "label": "t:sections.all.layout.width"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "t:sections.all.colors.background",
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.all.title.heading",
        "default": "New arrivals"
      },   
      {
        "type": "textarea",
        "id": "content",
        "label": "t:sections.all.title.content",
        "default": "At vero eos et accusam ut labore et dolore magna"
      },   
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.products.product_slider.collection.label"
      },
      {
        "type": "range",
        "id": "max_count",
        "min": 4,
        "max": 24,
        "step": 1,
        "unit": "pds",
        "label": "t:sections.products.product_slider.collection.limit",
        "default": 8
      },
      {
        "type": "checkbox",
        "id": "use_equal_image_height",
        "label": "t:sections.products.product_slider.equal_image_height.label",
        "default": true,
        "info": "t:sections.products.product_slider.equal_image_height.info"
      },
      {
        "type": "header",
        "content": "t:slick_slider.label",
        "info": "t:slick_slider.content"
      },  
      {
        "type": "checkbox",
        "id": "use-slider",
        "label": "t:slick_slider.use_slider",
        "default": true
      },
      {  
        "type": "range",  
        "id": "slides-To-Scroll",  
        "label": "t:slick_slider.scroll.label",  
        "info": "t:slick_slider.scroll.content",
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 1
      },   
      {  
        "type": "range",  
        "id": "visible",  
        "label": "t:slick_slider.visible.label",
        "info": "t:slick_slider.visible.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 4 
      },
      {  
        "type": "range",  
        "id": "widescreen",  
        "label": "t:slick_slider.widescreen.label",
        "info": "t:slick_slider.widescreen.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 4 
      },  
      {  
        "type": "range",  
        "id": "desktop",  
        "label": "t:slick_slider.desktop.label",
        "info":  "t:slick_slider.desktop.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 4  
      },    
      {  
        "type": "range",  
        "id": "laptop",  
        "label": "t:slick_slider.laptop.label",
        "info": "t:slick_slider.laptop.content",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "col",
        "default": 3
      },    
      {  
        "type": "range",  
        "id": "notebook",  
        "label": "t:slick_slider.notebook.label",
        "info": "t:slick_slider.notebook.content",
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 3  
      },  
      {  
        "type": "range",  
        "id": "tablet",  
        "label": "t:slick_slider.tablet.label",
        "info": "t:slick_slider.tablet.content",
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 3 
      },
      {  
        "type": "range",  
        "id": "landscape",  
        "label": "t:slick_slider.landscape.label",
        "info": "t:slick_slider.landscape.content",
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 2 
      }, 
      {  
        "type": "range",  
        "id": "portrait",  
        "label": "t:slick_slider.portrait.label",
        "info": "t:slick_slider.portrait.content",
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 2 
      },
      {  
        "type": "range",  
        "id": "mobile",  
        "label": "t:slick_slider.mobile.label",
        "info": "t:slick_slider.mobile.content",
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 1 
      },
      {  
        "type": "range",  
        "id": "rows",  
        "label": "t:slick_slider.rows.label",  
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "row",
        "default": 1
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "t:slick_slider.autoplay.label",
        "default": true
      },
      {   
        "type": "text",
        "id": "speed",
        "label": "t:slick_slider.speed.label",
        "default": "300",
        "info": "t:slick_slider.speed.content"
      },
      {   
        "type": "text",
        "id": "autoplay-Speed",
        "label": "t:slick_slider.autoplay_speed.label",
        "default": "3000",
        "info": "t:slick_slider.autoplay_speed.content"
      },
      {   
        "type": "checkbox",
        "id": "arrows",
        "label": "t:slick_slider.arrows.label",
        "default": false
      },
      {   
        "type": "checkbox",
        "id": "dots",
        "label": "t:slick_slider.dots.label",
        "default": false 
      },
      {   
        "type": "checkbox",
        "id": "infinite",
        "label": "t:slick_slider.infinite.label",
        "default": true
      },
      {
        "type": "number",
        "id": "padding",
        "label": "t:slick_slider.padding.label",
        "default": 15
      },  
      {
        "type": "header",
        "content": "t:sections.all.spacing.label"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "t:sections.all.spacing.margin.bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.all.tablet.label"
      }, 
      {
        "type": "range",
        "id": "padding_top_tablet",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.spacing.padding.top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom_tablet",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.spacing.margin.bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.all.mobile.label"
      }, 
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.spacing.padding.top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.spacing.margin.bottom",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "t:sections.products.product_slider.presets.name",
        "category": "Collections"
      }
    ]
  }
{% endschema %}
