{% liquid
  assign sid = section.id 
%}

{%- for i in (1..1) -%}
  {%- if section.settings.cp_code and request.page_type == 'index' %}<div class="dn tc mt__40 mb__40 cp_cd_js"><input type="text" class="dcp_cd_ip" value='<div class="inc_lz inc_ins_laz" data-include="/search/?section_id={{sid}}"><div class="loading_bg"></div></div>'><button class="dcp_cd_btn">Copy Shortcode</button></div>{% endif -%}
  {%- if section.settings.hidden and request.page_type == 'index' %}{% break %}{% endif -%}

  <section id="section-{{ sid }}" >
  <div class="{{section.settings.layout}}">
		{% if section.settings.title!= blank %}
      <div class="section-title-group">
        {% if section.settings.title != blank %}<h2 class="section-title">{{section.settings.title}}</h2>{% endif %}
        {% if section.settings.content!= blank %}<div class="section-content">{{section.settings.content}}</div>{% endif %}
      </div>
    {% endif %}

    {% include 'grid-slider', settings:section.settings %}
    <div class="section-information-group grid-slider" {{ gridSlider }}>
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {%- assign avatar = block.settings.avatar -%}
          <div class="section-item bl_{{ block.id }}">
            <div class="inner-item">                
              {% if avatar != blank %}
                <div class="item-media">
                  <div class="lazyload laber_bg_lz pr_lazy_img avatar" data-bgset="{{ avatar | img_url: '1x1' }}" data-ratio="{{ratio}}"></div>
                </div>
              {% else %}
                <div class="item-media">
                  {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg avatar' }}
                </div>
              {% endif %}
              <div class="item-content">
                {% if block.settings.name != blank %}<h3 class="name">{{ block.settings.name }}</h3>{% endif %}
                {% if block.settings.position != blank %}<div class="position">{{ block.settings.position }}</div>{% endif %}
                {% if section.settings.show_contact_info %}
                  <ul class="member-social unstyled">
                    <li class="social-item facebook"><a href="{{ block.settings.facebook }}" class="social-item-link" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li class="social-item twitter"><a href="{{ block.settings.twitter }}" class="social-item-link" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li class="social-item instagram"><a href="{{ block.settings.instagram }}" class="social-item-link" target="_blank"><span class="fa fa-instagram"></span></a></li>
                    <li class="social-item phone"><a href="{{ block.settings.phone }}" class="social-item-link" target="_blank"><span class="fa fa-phone"></span></a></li>
                  </ul>                  
                {% endif %}
              </div>
            </div>
          </div>
        {%- endfor -%}
      {% else %}
        {%- for i in (1..5) -%}
          <div class="section-item">
            <div class="inner-item"> 
              <div class="item-media"><div class="avatar">{{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}</div></div>
              <div class="item-content">
                <h3 class="name" style="color:{{ section.settings.cl_hd }}">Byron Jasper</h3>
                <p class="position">CHIEF OPERATING OFFICER</p>
                {% if section.settings.show_contact_info %}
                  <ul class="member-social unstyled">
                    <li class="social-item facebook"><a href="#" class="social-item-link" target="_blank"><span class="fa fa-facebook"></span></a></li>
                    <li class="social-item twitter"><a href="#" class="social-item-link" target="_blank"><span class="fa fa-twitter"></span></a></li>
                    <li class="social-item instagram"><a href="#" class="social-item-link" target="_blank"><span class="fa fa-instagram"></span></a></li>
                    <li class="social-item phone"><a href="#" class="social-item-link" target="_blank"><span class="fa fa-phone"></span></a></li>
                  </ul>                  
                {% endif %}
              </div>
            </div>
          </div>
        {%- endfor -%}             	
      {%- endif -%}
    </div>
  </div>
</section>
{%- endfor -%}

{%- render 'section_style' -%}

{%- schema -%}
  {
    "name": "t:sections.our_team.name",
    "class": "cms_section section-our-team",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.layout.label"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "container",
            "label": "t:sections.all.layout.option__1"
          }, {
            "value": "full-width",
            "label": "t:sections.all.layout.option__2"
          }, {
            "value": "custom-width",
            "label": "t:sections.all.layout.option__3"
          }
        ],
        "label": "t:sections.all.layout.width"
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.our_team.heading",
        "default": "Text column with image"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "t:sections.our_team.content",
        "default": "Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas."
      }, 
      {
        "type": "checkbox",
        "id": "show_contact_info",
        "label": "t:sections.our_team.show_contact_info",
        "default": false
      },
      {
        "type": "header",
        "content": "t:slick_slider.label",
        "info": "t:slick_slider.content"
      },  
      {
        "type": "checkbox",
        "id": "use-slider",
        "label": "t:slick_slider.use_slider",
        "default": true
      },
      {  
        "type": "range",  
        "id": "slides-To-Scroll",  
        "label": "t:slick_slider.scroll.label",  
        "info": "t:slick_slider.scroll.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 1
      },   
      {  
        "type": "range",  
        "id": "visible",  
        "label": "t:slick_slider.visible.label",
        "info": "t:slick_slider.visible.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 3 
      },
      {  
        "type": "range",  
        "id": "widescreen",  
        "label": "t:slick_slider.widescreen.label",
        "info": "t:slick_slider.widescreen.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 3 
      },  
      {  
        "type": "range",  
        "id": "desktop",  
        "label": "t:slick_slider.desktop.label",
        "info":  "t:slick_slider.desktop.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 3  
      },    
      {  
        "type": "range",  
        "id": "laptop",  
        "label": "t:slick_slider.laptop.label",
        "info": "t:slick_slider.laptop.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 3
      },    
      {  
        "type": "range",  
        "id": "notebook",  
        "label": "t:slick_slider.notebook.label",
        "info": "t:slick_slider.notebook.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 2  
      },  
      {  
        "type": "range",  
        "id": "tablet",  
        "label": "t:slick_slider.tablet.label",
        "info": "t:slick_slider.tablet.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 2 
      },
      {  
        "type": "range",  
        "id": "landscape",  
        "label": "t:slick_slider.landscape.label",
        "info": "t:slick_slider.landscape.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 2 
      }, 
      {  
        "type": "range",  
        "id": "portrait",  
        "label": "t:slick_slider.portrait.label",
        "info": "t:slick_slider.portrait.content",
        "min": 1,
        "max": 5,
        "step": 1,
        "unit": "col",
        "default": 2 
      },
      {  
        "type": "range",  
        "id": "mobile",  
        "label": "t:slick_slider.mobile.label",
        "info": "t:slick_slider.mobile.content",
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 1 
      },
      {  
        "type": "range",  
        "id": "rows",  
        "label": "t:slick_slider.rows.label",  
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "row",
        "default": 1
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "t:slick_slider.autoplay.label",
        "default": true
      },
      {   
        "type": "text",
        "id": "speed",
        "label": "t:slick_slider.speed.label",
        "default": "300",
        "info": "t:slick_slider.speed.content"
      },
      {   
        "type": "text",
        "id": "autoplay-Speed",
        "label": "t:slick_slider.autoplay_speed.label",
        "default": "3000",
        "info": "t:slick_slider.autoplay_speed.content"
      },
      {   
        "type": "checkbox",
        "id": "arrows",
        "label": "t:slick_slider.arrows.label",
        "default": false
      },
      {   
        "type": "checkbox",
        "id": "adaptive-Height",
        "label": "t:slick_slider.adaptive_height.label",
        "default": false
      },
      {   
        "type": "checkbox",
        "id": "dots",
        "label": "t:slick_slider.dots.label",
        "default": false 
      },
      {   
        "type": "checkbox",
        "id": "infinite",
        "label": "t:slick_slider.infinite.label",
        "default": true
      },
      {
        "type": "number",
        "id": "padding",
        "label": "t:slick_slider.padding.label",
        "default": 15
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.spacing.label"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "t:sections.all.spacing.margin.bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.all.tablet.label"
      }, 
      {
        "type": "range",
        "id": "padding_top_tablet",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.spacing.padding.top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom_tablet",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.spacing.margin.bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.all.mobile.label"
      }, 
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.spacing.padding.top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.spacing.margin.bottom",
        "default": 0
      }
    ],
    
    "blocks": [
      {
        "type": "text_block",
        "name": "t:sections.our_team.blocks.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "avatar",
            "label": "t:sections.our_team.blocks.avatar.label",
            "info": "t:sections.our_team.blocks.avatar.info"
          },
          {
            "type": "text",
            "id": "name",
            "label": "t:sections.our_team.blocks.member_name",
            "default": "Byron Jasper"
          },
          {
            "type": "text",
            "id": "position",
            "label": "t:sections.our_team.blocks.member_position",
            "default": "CHIEF OPERATING OFFICER"
          },
          {
            "type": "header",
            "content": "t:sections.our_team.blocks.member_contact.label"
          },
          {
            "type": "paragraph",
            "content": "t:sectionss.all.note.blank"
          },
          {
            "type": "text",
            "id": "facebook",
            "label": "t:sections.our_team.blocks.member_contact.facebook"
          },
          {
            "type": "text",
            "id": "twitter",
            "label": "t:sections.our_team.blocks.member_contact.twitter"
          },
          {
            "type": "text",
            "id": "instagram",
            "label": "t:sections.our_team.blocks.member_contact.instagram"
          },
          {
            "type": "text",
            "id": "phone",
            "label": "t:sections.our_team.blocks.member_contact.phone"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.our_team.presets.name",
        "category": "Images",
        "blocks": [
          { "type": "text_block" },
          { "type": "text_block" },
          { "type": "text_block" }
        ]
      }
    ]
  }
{% endschema %}
