<div class="content_tell_me">
      {%- assign sblock = block.settings -%}
  			{% assign type_social = block.settings.type_social | plus: 0 %}
         <div class="tell_me_2">
            <div class="tell_me_2_item login-signup">
                <a href="" class="login__link">Login</a>
                <a href="" class="login__link">Register</a>
                <a href="" class="login__link">Check out</a>
            </div>
            
            <ul class="menu-language parent-list">
                      {%if block.settings.header_use_currency%}
                        {% if shop.published_locales.size > 0 %}
                            {% assign showFlag = settings.show_flag %}
                            {% assign showRoundFlag = settings.show_round_flag %}
                            <li class="item-list shop-language language-shop {% if showFlag %}show-flag{% endif %}{% if showRoundFlag %} show-round-flag{% endif %}" data-title="{{'general.multi_shop.language_label' | t}}"
                                data-language-flag-map='{"en" : "gb"}'>
                              <a data-code="{{shop.locale}}" href="javascript:void(0);" class="item-active toggle-tab-body">
                                {% if showFlag %}<img class="flag" src="" data-src="{{shop.locale | prepend: 'flag_' | append: '.png' | asset_url }}" />{% endif %}
                                <span class="current">{{shop.locale | upcase}}</span></span>
                                <span class="icon"><i class="fa fa-angle-down"></i></span>
                              </a>
                              <ul class="child-list list-unstyled dropdown">
                                {% for locale in shop.published_locales %}
                                  <li data-code="{{ locale.iso_code }}" class="{{ locale.iso_code }}{% if locale.iso_code == shop.locale %} active{% endif%}{% if locale.primary %} primary{% endif%}">
                                      <a data-code="{{ locale.iso_code }}" href="javascript:void(0);" class="language-code">
                                        {% if showFlag %}<img class="flag" src="" data-src="{{ locale.iso_code | prepend: 'flag_' | append: '.png' | asset_url }}" />{% endif %}
                                        <span class="name" style="display:none">{{ locale.name }}</span>
                                        <span class="code">{{ locale.iso_code | upcase  }}</span>
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </li>
                          {% endif %}
                      {% endif %}
                        {%if block.settings.header_use_language%}
                          <li class="item-list language-shop">
                            <a href="javascript:void(0);" class="toggle-submenu">     
                              <span>ENG</span>    
                              <span class="icon"><i class="fa fa-angle-down"></i></span>
                            </a>
                        </li>
                      {% endif %}
                    </ul>   
        
  			<div class="tell_me_2_item contact_2">
              <div class="title_2">Contact Us</div>
              <div class="title_2-item">
                <i class="fa fa-location-arrow contact__icon" aria-hidden="true"></i> 
                No. Rosecrans Ave, Suite 200 El Segundo, CA 90245. USA
              </div>
              <div class="title_2-item">
                <i class="fa fa-phone contact__icon" aria-hidden="true"></i>
                Call: <a href="tel:+1 (202) 861-5567">+1 (202) 861-5567</a>
              </div>
              <div class="title_2-item">
                <i class="fa fa-envelope-o contact__icon" aria-hidden="true"></i>
                Email:<a href="mailto:Support@demo.com"> Support@demo.com></a></div>
  			</div>
           
            <div class="tell_me_2_item follow-us"> 
              <div class="title_2">Follow Us</div>
              <ul class=""> 
                      <li class="facebook">
                        <a  target="_blank" href="{{settings.social_link_facebook_link}}" title="{{settings.social_link_facebook_text}}"><i class="fa fa-facebook-official"></i></a>
                      </li>
                      <li class="twitter">
                        <a  target="_blank" href="{{settings.social_link_twitter_link}}" title="{{settings.social_link_twitter_text}}"><i class="fa fa-twitter"></i></a>
                      </li>
                
                      <li class="behance">
                        <a  target="_blank" href="{{settings.social_link_behance_link}}" title="{{settings.social_link_behance_text}}"><i class="fa fa-behance"></i></a>
                      </li>
                
                      <li class="vimeo">
                        <a  target="_blank" href="{{settings.social_vimeo_link}}" title="{{settings.social_link_vimeo_text}}"><i class="fa fa-vimeo"></i></a>
                      </li>
              </ul>
            </div>
        </div>
        

  
</div>
{%- schema -%}
  {
    "name": "Tell me (top header)",
    "class": "tell_me",
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1,
        "settings": [
            {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo "	
            },
            {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Heading"
          },
          {
            "type":"color",
            "id":"title_cl",
            "label":"Title color",
			"default":"#c6452c"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Gosto is a premium template theme with advanced <br>admin module. It's extremelyeasy to use and fully <br>responsive and retina ready."
          }
        ]
      },
      {
      "type": "instagram",
      "name": "Instagram",
      "limit": 6,
      "settings": [
          {
          "type": "text",
          "id": "name_instagram",
          "label": "Name instagram",
          "default": "Name instagram"
          },
          {
            "type": "image_picker",
            "id": "img_instagram",
            "label": "instagram ",
			"info":"image size 110x110px "	
          },
          {
            "type": "url",
			"id": "url",
			"label": "Link (optional)"
          },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in",
            "default": "_self"
          }
        ]
      },
      {
      "type": "contact",
      "name": "Contact",
      "limit": 1,
      "settings": [
      
          {
          "type": "checkbox",
          "id": "header_use_social",
          "label": "Display social on top bar",
          "default": true,
          "info":"Note: you can edit social at 'Theme settings' -> 'Social media'"
          },
          {
          "type": "select",
          "id": "type_social",
          "label": "Show sharing Or link:",
          "options": [
          {
          "value": "1",
          "label": "Social link"
          },
          {
          "value": "2",
          "label": "Social sharing"
          }
          ],
          "default": "2"
          }
        ]
      }
      
    ],
    "default": {
      "blocks": [
        { "type": "logo" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "contact" }
      ]
    }
  }
{% endschema %}