<div class="content_tell_me">
      {%- assign sblock = block.settings -%}
  			{% assign type_social = block.settings.type_social | plus: 0 %}
         <div class="tell_me_2">
            <div class="tell_me_2_item login-signup">
                <a href="" class="login__link">Login</a>
                <a href="" class="login__link">Register</a>
                <a href="" class="login__link">Check out</a>
            </div>
            
             <div class="tell_me_2_item currency-language">
                  <div class="currency_2">
                    <ul class="Currencies">Currencies:
                      <li class="">US Dollar
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </li>
                      <li class="">VND
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </li>
                      <li class="">EURO
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="currency_2">
                    <ul class="Currencies">Language:
                      <li class="">
                        <img class="img-flag"  src="//cdn.shopify.com/" alt="">
                        English
                      </li>
                      <li class="">
                        <img class="img-flag" src="./assets/vn.jpg" alt="">
                        Tiếng Việt
                      </li>
                    </ul>
                  </div>
            </div>       
        
  			<div class="tell_me_2_item contact_2">
              <div class="title_2">Contact Us</div>
              <div class="title_2-item">
                <i class="fa fa-location-arrow contact__icon" aria-hidden="true"></i> 
                No. Rosecrans Ave, Suite 200 El Segundo, CA 90245. USA
              </div>
              <div class="title_2-item">
                <i class="fa fa-phone contact__icon" aria-hidden="true"></i>
                Call: <a href="tel:+1 (202) 861-5567">+1 (202) 861-5567</a>
              </div>
              <div class="title_2-item">
                <i class="fa fa-envelope-o contact__icon" aria-hidden="true"></i>
                Email:<a href="mailto:Support@demo.com"> Support@demo.com></a></div>
  			</div>
           
            <div class="tell_me_2_item follow-us"> 
              <div class="title_2">Contact Us</div>
              <ul class=""> 
                      <li class="facebook">
                        <a  target="_blank" href="{{settings.social_link_facebook_link}}" title="{{settings.social_link_facebook_text}}"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li class="twitter">
                        <a  target="_blank" href="{{settings.social_link_twitter_link}}" title="{{settings.social_link_twitter_text}}"><i class="fa fa-twitter"></i></a>
                      </li>
                
                      <li class="behance">
                        <a  target="_blank" href="{{settings.social_link_behance_link}}" title="{{settings.social_link_behance_text}}"><i class="fa fa-behance"></i></a>
                      </li>
                
                      <li class="vimeo">
                        <a  target="_blank" href="{{settings.social_vimeo_link}}" title="{{settings.social_link_vimeo_text}}"><i class="fa fa-vimeo"></i></a>
                      </li>
              </ul>
            </div>
        </div>
        

  
</div>
{%- schema -%}
  {
    "name": "Tell me (top header)",
    "class": "tell_me",
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1,
        "settings": [
            {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo "	
            },
            {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Heading"
          },
          {
            "type":"color",
            "id":"title_cl",
            "label":"Title color",
			"default":"#c6452c"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Gosto is a premium template theme with advanced <br>admin module. It's extremelyeasy to use and fully <br>responsive and retina ready."
          }
        ]
      },
      {
      "type": "instagram",
      "name": "Instagram",
      "limit": 6,
      "settings": [
          {
          "type": "text",
          "id": "name_instagram",
          "label": "Name instagram",
          "default": "Name instagram"
          },
          {
            "type": "image_picker",
            "id": "img_instagram",
            "label": "instagram ",
			"info":"image size 110x110px "	
          },
          {
            "type": "url",
			"id": "url",
			"label": "Link (optional)"
          },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in",
            "default": "_self"
          }
        ]
      },
      {
      "type": "contact",
      "name": "Contact",
      "limit": 1,
      "settings": [
      
          {
          "type": "checkbox",
          "id": "header_use_social",
          "label": "Display social on top bar",
          "default": true,
          "info":"Note: you can edit social at 'Theme settings' -> 'Social media'"
          },
          {
          "type": "select",
          "id": "type_social",
          "label": "Show sharing Or link:",
          "options": [
          {
          "value": "1",
          "label": "Social link"
          },
          {
          "value": "2",
          "label": "Social sharing"
          }
          ],
          "default": "2"
          }
        ]
      }
      
    ],
    "default": {
      "blocks": [
        { "type": "logo" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "instagram" },{ "type": "contact" }
      ]
    }
  }
{% endschema %}